    
    <%- include('../partials/header.ejs') %>
</head>
<body class="container" style="margin-top: 80px;">
    <%- include('../partials/menu.ejs') %>

    <% if (messages.success) { %>
    <div class="alert alert-success" role="alert"><%- messages.success %></div>
    <% } %>

    <% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
    <% } %>

    <a href="/items/add" class="btn btn-primary btn-md mb-2 rounded-0" tabindex="-1" role="button" aria-disabled="true">Add Item</a>
    
    <div style="height: 500px; overflow: auto; border: 1px solid rgb(245, 245, 245); padding: 3px 10px 0;">
        <% if(data.length) { %>
        <table id="tbl1" class="table table-hover compact">
            <thead class="align-middle">
                <tr class=''>
                    <th width="150px"></th>
                    <th scope="col">RowId</th>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Selling Price</th>
                    <th scope="col">Purchase Price</th>
                    <th width="200px">GST Rate</th>
                    <th width="200px">HSN</th>
                </tr>
            </thead>
            <tbody class="table-group-divider align-middle" style="position: sticky; left: 0;">
            <% for(var i = 0; i< data.length; i++) { %>
                <tr>
                    <td class="text-left">
                        <a class="btn btn-dark edit w-40" href="../items/edit/<%=data[i].itemRowId%>">Edit</a>
                        <a class="btn btn-danger delete w-40" onclick="return confirm('Are you sure want to delete this record?')" href="../items/delete/<%=data[i].itemRowId%>">Delete</a> 
                    </td>
                    <td><%= data[i].itemRowId %></td>
                    <td><%= (i+1) %></td>
                    <td><%= data[i].itemName%></td>
                    <td><%= data[i].sellingPrice%></td>
                    <td><%= data[i].pp%></td>
                    <td><%= data[i].gstRate%></td>
                    <td><%= data[i].hsn%></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>
    </div>        
    <!-- if result is empty -->
    <% if(!data.length) { %>
        <p class="text-center">No users found!</p>
    <% } %>
        
    <script>
        $(document).ready(function(){
            myDataTable = $('#tbl1').DataTable({
                dom: '<"top"iflp<"clear">>rt',
			    paging: false,

                //// Column Visibility
                columnDefs: [
                {
                    target: 1,
                    visible: false,
                    searchable: false
                }]
			});
        });
    </script>


    <%- include('../partials/footer.ejs') %>
</body>
</html>